<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <springProfile name="local">
        <appender name="MAIN" class="ch.qos.logback.core.ConsoleAppender">
            <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
                <pattern>%white(%date{HH:mm:ss.SSS}) %highlight(%-5level) %green(%5.5thread) %cyan(%-30.30logger{39}) - %msg%n</pattern>
            </encoder>
        </appender>
    </springProfile>

    <root level="INFO">
        <appender-ref ref="MAIN" />
    </root>

    <!-- if issue at early bootstrap phase - we'd better know about it -->
    <logger name="org.springframework.boot.diagnostics" level="DEBUG"/>
</configuration>
